# Set behaviour for all files, in case developers don't have core.autocrlf set.
* text=auto
# Explicitly declare text files we want to always be normalized and converted to native line endings on checkout.
*.R text eol=crlf
# Declare files that will always have CRLF line endings on checkout.
*.cs     diff=csharp
*.sh text eol=lf
# Denote all files that are truly binary and should not be modified.
*.zip binary
# large files
*.nc filter=lfs diff=lfs merge=lfs -text
*.sav filter=lfs diff=lfs merge=lfs -text
*.SAV filter=lfs diff=lfs merge=lfs -text
